<!DOCTYPE html>
<html>
	<head>
		{% if title %}
		<title>{{ title }} - microblog</title>
		{% else %}
		<title> Welcome to microblog</title>
		{% endif %}
	</head>
	<body>
		<div>
			<span><a id="home_link" href="/">microblog</a></span>
			{% if user.is_authenticated %}
				<span>
					<a id="user_link" href="/{{ user.username }}">My Profile</a>
				</span>
				<span><a id="logout_link" href="/logout">Log Out</a></span>
			{% else %}
				<span><a id="signup_link" href="/signup">Sign Up</a></span>
				<span><a id="login_link" href="/login">Log In</a></span>
			{% endif %}
		</div>
		<hr>

		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
					<p class="{{ category }}">{{ message }}</p>
				{% endfor %}
			{% endif %}
		{% endwith %}

		{% block content %}{% endblock %}
	</body>
</html>