{% extends "base.html" %}

{% block content %}
		{% if user.is_authenticated %}
		<h1 id="greeting-header">Hello, {{ user.username }}!</h1>
		{% else %}
		<h1 id="greeting-header">Welcome to microblog.</h1>
		{% endif %}
{% endblock %}