{% extends "base.html" %}

{% block content %}
<form id="login-form" name="login-form" method="post" action="/login">
	{{ form.hidden_tag() }}
	<p>
		<label for="username">Enter your username</label>
		{{ form.username(size=30, placeholder='Username') }}
	</p>
	<p>
		<label for="password">Enter your password</label>
		{{ form.password(size=30, placeholder='Password') }}
	</p>
	<p>
		{{ form.submit(value='Log In')}}
	</p>
	<p>
		<label for="remember_me">Remember Me?</label>
		{{ form.remember_me }}
	</p>
</form>
{% endblock%}