{% extends "base.html" %}

{% block content %}
<form id="signup-form" name="signup-form" method="post" action="/signup">
	{{ form.hidden_tag() }}
	<p>
		<label for="username">Create a username</label>
		{{ form.username(size=30, placeholder='Username') }}
	</p>
	<p>
		<label for="password">Create a password</label>
		{{ form.password(size=30, placeholder='Password') }}
	</p>
	<p>
		<label for="password_confirm">Re-enter your password</label>
		{{ form.password_confirm(size=30, placeholder='Confirm Password') }}
	</p>
	<p>
		{{ form.submit(value='Sign Up')}}
	</p>
</form>
{% endblock%}