{% extends "base.html" %}

{% block content %}
<div class="user_top">

	<div id="avatar_column">
		<img id="avatar_top_img" alt="{{ avatar.filename }}" src="{{ avatar.url }}"/>
		{% if forms.avatar_edit %}
		<form name="avatar_edit_form" id="avatar_edit_form" method="post" action="/assets/new" enctype="multipart/form-data">
			<div style="display:none;">
			{{ forms.avatar_edit.csrf_token() }}
			{{ forms.avatar_edit.asset_type(value="avatar") }}
			{{ forms.avatar_edit.avatar_user(value=user.username) }}
			</div>
			<label for="avatar_edit_file">Upload New Avatar</label>
			{{ forms.avatar_edit.avatar_edit_file(accept="image/jpg,image/png,image/jpeg,image/gif")}}
			{{ forms.avatar_edit.avatar_edit_submit(value="Upload")}}
		</form>
		{% endif %}
	</div>

	<div id="info_column">
	{% if bio %}
		<div id="bio_container">
		<p id="user_bio">{{ bio }}</p>
		</div>
	{% endif %}
	{% if forms.bio_edit %}
	<form name="bio_edit_form" id="bio_edit_form" method="post" action="/user/update">
		{{ forms.bio_edit.hidden_tag() }}
		{{ forms.bio_edit.bio_edit_text(placeholder="Tell us about yourself!") }}
		{{ forms.bio_edit.bio_edit_submit(value="Edit Bio") }}
	</form>
	{% endif %}
	{% if last_login %}
		<p id="last_login">{{ last_login }}</p>
	{% endif %}
	</div>

</div>
<hr>
<div id="posts_container">
{% if forms.new_post %}
	<div id="post_form_row" class="row">
	<form name="post_form" id="post_form" method="post" action="/post/new/{{g.user.username}}">
		{{ forms.new_post.hidden_tag() }}
		{{ forms.new_post.post_field(placeholder="What's up?") }}
		{{ forms.new_post.post_submit(value="Submit Post") }}
	</form>
	</div>
{% endif %}
{% if posts %}
	{% for post in posts %}
		<div class="post">
			<div class="post_avatar_column">
			<img class="post_avatar" alt="{{ avatar.filename }}" src="{{ avatar.url }}"/>
			</div>
			<div class="post_text_column">
			<p>{{ post.content }}</p>
			</div>
		</div>		
	{% endfor %}
{% else %}
	<div id="no_posts_container">
		<p id="no_posts_text">No posts yet!</p>
	</div>
{% endif %}
</div>
{% endblock %}